#search-form {
  height: 2.282rem;
  display: flex;
}

#search-form input {
  font-size: 1rem;
  width: 40vw;
  padding-left: 0.5rem;
  color: #606060;
  background-color: #121212;
  border: 1px solid #444d56;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

#search-form input:focus {
  outline: none;
}

#search-form button {
  font-size: 1.4rem;
  width: 4vw;
  background-color: #313131;
  border: 1px solid #444d56;
  border-radius: 0 5px 5px 0;
}

#search-form button:hover {
  cursor: pointer;
}

#search-form button #search-icon {
  vertical-align: middle;
  color: #444d56;
}

/* responsive css */

@media screen and (max-width: 768px) {
  #search-form input {
    font-size: 1rem;
    width: 50vw;
  }
  #search-form button {
    font-size: 1.4rem;
    width: 10vw;
  }
}
